@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.slider {
    width: 100%!important;
}


/* Add this CSS to your global styles or module CSS */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .custom-input {
    @apply w-full px-4 py-2 mt-1 border-2 border-gray-300 rounded-md focus:ring-2 
           focus:ring-indigo-400 focus:border-indigo-500 transition-all duration-300 outline-none;
  }
  .btn-primary {
    @apply w-full py-3 bg-indigo-600 text-white font-semibold text-lg rounded-lg 
           hover:bg-indigo-700 transition-all duration-300 ease-in-out;
  }
    

  .truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  